{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Thank you!
{% endblock %}

{% block content %}

    <p>
    	Thank you for your participation today.  Please wait patiently for the experimenter to call your subject number.  When your number is called, gather all of your belongings, and walk to where you will be paid.
	</p>

	<p>
		Your subject number is {{ participant.id }}.
	</p>

	<p>
		Please remember that this research is only valuable if all participants have the same experience.  Therefore, please do not discuss this experiment with others outside of the lab.
    </p>


{% endblock %}
{% block app_styles %}
   <link href="{% static "duopoly_rep_treat/quiz.css" %}" rel="stylesheet">
{% endblock %}