table{
    margin-left: 60px;
}
td label{
    color: #888;
    font-size: 14px;
    font-weight: normal;
    margin: 0 10px 0 0;
    min-width: 16px;
    text-align: right;
}
td{
    padding: .5em .625em;
}
#buyer-choice-radios{
    float: left;
    position: relative;
    width: 380px;
    margin-top: 30px;
    /*margin-left: -60px;*/
}
#buyer-choice-radios .controls{
    border: 1px solid #5b616b;
    float: left;
    position: relative;
    width: 100%;
    border-radius: 4px;
}
.field-contract_seller_rolenum input{
    cursor: pointer;
}
.field-contract_seller_rolenum label{
    position: relative;
    float: left;
    /*background-color: #bbb;*/
    padding: 8px 12px;
    border-left: 1px solid #5b616b;
    cursor: pointer;
    font-size:20px;
    margin: 0;
}
.field-contract_seller_rolenum label:hover{
    background-color: #ccc;
}
.field-contract_seller_rolenum label:first-child{
    border:none;
}