/* Instructions Specific */
section{
    min-height: 330px;
}
/* Buyer Page Specific */

/* General Buyer */
table{
    margin-left: 20px;
    width: 275px;
}
table th{
    white-space:nowrap;
    font-size:11px;
    font-weight: normal;
    padding: 6px 6px 4px;
}
table th:first-child{
    white-space:normal;
    font-weight: normal;
    width: 76px;
    font-size:11px;
}


td label{
    color: #888;
    font-size: 14px;
    font-weight: normal;
    margin: 0 10px 0 0;
    min-width: 16px;
    text-align: right;
}
td{
    padding: 4px 4px 1px;
}
td:first-child label{
    font-size:12.5px;
}
#buyer-choice-radios{
    float: left;
    position: relative;
    width: 333px;
    margin-top: 20px;
    margin-left: 10px;
}
#buyer-choice-radios .controls{
    border: 1px solid #5b616b;
    float: left;
    position: relative;
    width: 100%;
    border-radius: 4px;
}
.field-contract_seller_rolenum input{
    cursor: pointer;
}
.field-contract_seller_rolenum label{
    position: relative;
    float: left;
    /*background-color: #bbb;*/
    padding: 8px 16px 8px 0;
    border-right: 1px solid #ADDC91;
    cursor: pointer;
    font-size:19px;
    margin: 0;
    background-color: #DBEDD4;
    color: black;
    font-size: 16px;
    width: 100px;
    border-width: 0 1px;
}
.field-contract_seller_rolenum label:hover{
    /*background-color: #ccc;*/
    background-color: #ADDC91;
}

.field-contract_seller_rolenum td{
    padding: 0;
}

p{
    min-width: 405px;
}

tr:last-child td:nth-child(2) label{
     border-left: 1px solid #ADDC91;
}

tr.one_dim td{
    padding: 8px 4px 6px;
}