.quiz_hold, table.table{
    max-width: 800px;
    margin: 0 auto;
}
.control-label{
    margin: 0 0 10px 0;
    font-size: 20px;
}
.controls > ul{
    padding-left: 15px;
    margin-bottom: 20px;
}
.form-group{
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}
li label, li input{
    cursor: pointer
}