
.col_container{
    margin-bottom: 20px;
}
.col_container:last-child{
    margin-bottom: 0px;
}
.results .col{
    width: 45%;
}
.results .col:first-child{
    width: 55%;
}
.earnings_prose{
    float:left;
    position: relative;
}
.earnings_prose p{
    font-size: 15px;
    clear: left;
    margin: 8px 0 0;
}
.earnings_prose p:first-child{
    margin: 1em 0 0;
}
h2{
    margin: 8px 0 7px;
}
.table_container h2{
    margin: 30px 0 7px;
}

hr{
    float: left;
    margin: 0 10% 20px;
    position: relative;
    width: 80%;
    border-color: #aaa;

}

td label{
    color: #888;
    font-size: 12.5px;
    font-weight: normal;
    margin: 0 10px 0 0;
    min-width: 16px;
    text-align: right;
}
td{
    padding: 4px .625em 1px;
    font-size: 16px;
}
thead th{
    font-size: 13px;
    padding: 6px 6px 4px;
}
th:first-child{
    font-weight:normal;
    font-size:11px;
}
.earnings{
    min-width: 185px;
}
.earnings tr{
    border:none;
}
.earnings td{
    padding-top: 1px;
    padding-bottom: 6px;
    text-align: right;
}
.earnings tr:first-child td{
    padding-top: 6px;
}
.earnings th{
    white-space: nowrap;
}

.earnings .total{
    border-top: 1px solid #888;
}
.table_container{
    float:left;
    position:relative;
}
