td label{
    color: #888;
    font-size: 14px;
    font-weight: normal;
    margin: 0 10px 0 0;
    min-width: 16px;
    text-align: right;
}
td{
    padding: .5em .625em;
}
.earnings{
    min-width: 185px;
}
.earnings tr{
    border:none;
}
.earnings td{
    padding-top: 1px;
    padding-bottom: 9px;
}
.earnings td:first-child{
    text-transform: uppercase;
    font-size: 13px;
    padding-bottom: 6px;
}
.earnings .total{
    border-top: 1px solid #888;
}
.table_container{
    float:left;
    position:relative;
}
.table_container:first-child{
    margin-right: 65px;
    margin-bottom: 33px;
}