/* Instructions Specific */

table.seller_outcomes{
    margin-top:35px;
}
.seller_widget.example{
    display: none;
}

form.selected_section_2 .seller_widget.example, form.selected_section_3 .seller_widget.example, form.selected_section_4 .seller_widget.example{
    display: inline;
}
form.selected_section_1 .seller_widget.example.truncated_instructions{
    display: inline;
}
section{
    min-height: 367px;
}

/* Seller Page Specific */

/* General Seller */
.form-group{
    width: 162px;
    position: relative;
    float: left;
}

.seller_widget{
    float:left;
    position:relative;
    width: 279px;
    margin: 19px 0 0 31px;
}
.seller_widget table{
    border-top: 1px solid #aaa;
    margin-top: 0px;
    width: 115px;
}

.seller_widget tbody tr{
    border-bottom:none;
}
.seller_widget tbody tr:first-child td{
    padding-top: 3px;
}
.seller_widget td{
    padding: 1px 0 0;
    vertical-align: middle;
    text-align: center;
}

.seller_widget td label{
    color: #888;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 7px 0 0;
}

.seller_widget th{
    padding: 3px 0 2px 15px;
    font-size: 11px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
}
.seller_widget th:first-child{
    padding-left: 5px;
    width: 40px;
}
#distribute{
    width: 141px;
    height: 35px;
    margin: 4px 0 0;
    padding: 1px 0.875em 0;
    border-radius: .25em;
    border: none;
    background-color: #DBEDD4;
    font-size: 16px
}
#distribute:hover{
    background-color: #ADDC91;
}
#id_ask_total{
    float: left;
    font-size: 20px;
    height: 35px;
    margin-right: 4px;
    padding: 3px 12px 0;
    width: 97px;
}
.control-label{
    float: left;
    font-size: 16px;
    margin: 0;
    text-align: left;
    width: 43px;
    line-height: 1.1;
    padding: 2px 0 0;
    height: 36px;
}
.pricedim{
    font-size: 16px;
    width: 100%;
    height: 28px;
    padding: 4px 12px 0;
}
.col{
    float:left;
    position: relative;
    padding: 0 0 0 0;
    /*width: 300px;*/
}
.col:first-child{
    padding: 0 2.5% 0 0;
    /*width: 485px;*/
}
.col_container{
    /*float:none;*/
    /*position: relative;*/
    /*width: 800px;*/
    /*margin: 0 auto;*/
}

/* One dim specific */
.one_dim.seller_widget{
    width: 268px;
    margin-left: 30px;
}
.one_dim #id_ask_total{
    width: 170px;
    height: 48px;
    font-size: 24px;
}
.one_dim .control-label{
    font-size: 21px;
}