.seller_widget{
    float:left;
    position:relative;
    width: 200px;
}
.seller_widget table{
    border-top: 1px solid #aaa;
    margin-top: 9px;
    width: 190px;
}
tbody tr{
    border-bottom:none;
}
td{
    padding: 7px 0 0;
    vertical-align: middle;
}
td label{
    color: #888;
    font-size: 14px;
    font-weight: normal;
    margin: 0 10px 0 0;
    min-width: 16px;
    text-align: right;
}
#distribute{
    width: 190px;
    margin: 8px 0 4px;
}
#id_ask_total{
    float: left;
    font-size: 20px;
    height: 41px;
    margin-right: 4px;
    padding: 6px 12px 0;
    width: 121px;
}
.control-label{
    float: left;
    font-size: 16px;
    margin: 0 15px 0 0;
    text-align: right;
    width: 53px;
    line-height: 1.2;
    height: 43px;
    padding: 2px 0 0;
}
.pricedim{
    font-size: 18px;
    padding-bottom: 2px;
    width: 100%;
}
.col{
    float:left;
    position: relative;
    width: 50%;
    padding: 0 0 0 2.5%
}
.col:first-child{
    padding: 0 2.5% 0 0;
}
.col_container{
    float:left;
    position: relative;
    width: 100%;
}
