{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block content %}

    <p> Now imagine that you are playing as a <b>buyer</b>.  Each round, you will buy an object from one of the two sellers in your group.  Both sellers are selling an identical object.  However, they may have chosen different prices for that object. </p>

    <p> When you buy an object, you will receive 800 tokens minus the total price, which is equal to the sum of the prices set by the seller.  For example ... </p>

<p><button class="a-btn">Next</button></p>



{% endblock %}
