{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block content %}

    <p> Welcome to your reserach study. </p>

    <p> In this study you will be playing {{ num_rounds }} round of a game.  Each round, you and the other participants will be assigned one of two roles: a buyer or a seller.  You will be randomly reassigned to being a buyer or seller each round.  </p>

    <p> <b> Sellers will decide on prices for an object they are trying to sell, keeping in mind you are competing with another seller for each buyer's selection. </b> <p>

    <p> <b> Buyers will decide which of the two seller's object they want to buy. </b> </p>

    <p> The game is divided into {{ num_games }} parts.  There are different rules for each part.  We will porvide more instructions about each of the parts as we reach them. </p>
    

<p>{% next_button %}</p>

{% endblock %}
