{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block content %}

    <p> The amount you earn during this experiment will depend on the choices that you make, the choices of others, and luck.  Throughout the experiment you will earn tokens.  For every {{ tokens_per_cent }} tokens you earn, you will be paid 1 cent at the end of the experiment ({{ tokens_per_dollar }} tokens = $1.00).  </p>

    <p> All players will start with {{ starting_tokens }} tokens. </p>

    <p> At the end of the experiment, your total payment will be made in cash rounded up to the nearest quarter.  You will be paid in private and iwll have no obligation to discuss your earnings with other participants.  <p>


<p>{% next_button %}</p>


{% endblock %}
