{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block content %}

    In this study you will be playing {{ num_rounds }} round of a game.  Each round, you and the other participants will be assigned one of two roles: a buyer or a seller.  You will be randomly reassigned to being a buyer or seller each round.  Sellers will decide on prices for an object they are tyring to sell, keeping in mind you are competing with another seller for each buyer's selection.  The amount you earn during this experiment will depend on the choices that you make, the choices of others, and luck.

    All players will start with 0 tokens.

<p>{% next_button %}</p>

{% endblock %}
