{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Paperwork Reduction Act
{% endblock %}


{% block content %}

    <p> According to the Paperwork Reduction Act of 1995, an agency may not conduct or sponsor, and a person is not required to respond to a collection of information unless it displays a valid OMB control number.  The OMB control number for this collection is 3170-0048. It expires on --/--/----.  The time required to complete this information collection is estimated to average approximately ___ hours per response.  The obligation to respond to this collection of information is voluntary.  Comments regarding this collection of information, including estimated response time, suggestions for improving the usefulness of the information, or suggestions for reducing the burden to respond to this collection should be submitted to the Consumer Financial Protection Bureau (Attention: PRA Office), 1700 G Street NW, Washington, DC 20552, or by email to PRA@cfpb.gov. </p>

<p><button class="a-btn">Next</button></p>

{% endblock %}
