{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block title %}
    Round Summary
{% endblock %}

{% block content %}
	<table width = 50% height = 80%>
    	<tr>
    	<td> 
    	You are {{player.role}} {{player.identifier}}.
    	{% for i, buyer in buyers %}
    		 <p> Buyer {{ buyer.identifier }} selected seller {{ buyer.seller_selected }} to purchase from. </p>
    	{% endfor %}
		You {% if real_round %} {% else %} would have {% endif %}earned {% if player.role == "buyer" %} 
		{{ player.payoff }} = {{Constants.redeem_value}} points (product value) - {{player.price_paid}} points (price) {% else %} {{ player.payoff }} = {{ player.sales }} (sales) x ({{ player.seller_total_price }} (total price) - {{ Constants.production_cost }} points (production cost)) {% endif %} this round.
		{% if real_round %} You have earned a total of {{ cumulative_payoff }} during the game so far. {% endif %}
    	</td>

    </table>
    <table width = 50% height = 80%>
    {% if num_prices == 1 %}
    {% for i, seller in sellers %}
    <table height = 50% width = 50%>
    	<tr> 
    		<td> </td> {% for seller in sellers %} <th>  Seller {{ seller.identifier }} </th> {% endfor %}
    	</tr>
    	<tr> <td> Price </td> {% for seller in sellers %} <td> {{ seller.seller_price0 }}</td> {% endfor %} </tr>
	</table>
	{% endfor %}
    {% elif num_prices == 8 %}
    <table height = 50% width = 50%>
    	<tr> 
    		<td> </td> {% for seller in sellers %} <th>  Seller {{ seller.identifier }} </th> {% endfor %}
    	</tr>
    	<tr> <td> Price 1 </td> {% for seller in sellers %} <td> {{ seller.seller_price0 }}</td> {% endfor %} </tr>
		<tr> <td> Price 2 </td> {% for seller in sellers %} <td> {{ seller.seller_price1 }}</td> {% endfor %} </tr>
		<tr> <td> Price 3 </td> {% for seller in sellers %} <td> {{ seller.seller_price2 }}</td> {% endfor %} </tr>
		<tr> <td> Price 4 </td> {% for seller in sellers %} <td> {{ seller.seller_price3 }}</td> {% endfor %} </tr>
		<tr> <td> Price 5 </td> {% for seller in sellers %} <td> {{ seller.seller_price4 }}</td> {% endfor %} </tr>
		<tr> <td> Price 6 </td> {% for seller in sellers %} <td> {{ seller.seller_price5 }}</td> {% endfor %} </tr>
		<tr> <td> Price 7 </td> {% for seller in sellers %} <td> {{ seller.seller_price6 }}</td> {% endfor %} </tr>
		<tr> <td> Price 8 </td> {% for seller in sellers %} <td> {{ seller.seller_price7 }}</td> {% endfor %} </tr>
		<tr> <td> <strong> Total Price </td> {% for seller in sellers %} <td> {{ seller.seller_total_price }}</td> {% endfor %} </tr>
	</table>
    {% else %}
    <table height = 50% width = 50%>
    	<tr> 
    		<td> </td> {% for seller in sellers %} <th>  Seller {{ seller.identifier }} </th> {% endfor %}
    	</tr>
    	<tr> <td> Price 1 </td> {% for seller in sellers %} <td> {{ seller.seller_price0 }}</td> {% endfor %} </tr>
		<tr> <td> Price 2 </td> {% for seller in sellers %} <td> {{ seller.seller_price1 }}</td> {% endfor %} </tr>
		<tr> <td> Price 3 </td> {% for seller in sellers %} <td> {{ seller.seller_price2 }}</td> {% endfor %} </tr>
		<tr> <td> Price 4 </td> {% for seller in sellers %} <td> {{ seller.seller_price3 }}</td> {% endfor %} </tr>
		<tr> <td> Price 5 </td> {% for seller in sellers %} <td> {{ seller.seller_price4 }}</td> {% endfor %} </tr>
		<tr> <td> Price 6 </td> {% for seller in sellers %} <td> {{ seller.seller_price5 }}</td> {% endfor %} </tr>
		<tr> <td> Price 7 </td> {% for seller in sellers %} <td> {{ seller.seller_price6 }}</td> {% endfor %} </tr>
		<tr> <td> Price 8 </td> {% for seller in sellers %} <td> {{ seller.seller_price7 }}</td> {% endfor %} </tr>
		<tr> <td> Price 9 </td> {% for seller in sellers %} <td> {{ seller.seller_price8 }}</td> {% endfor %} </tr>
		<tr> <td> Price 10 </td> {% for seller in sellers %} <td> {{ seller.seller_price9 }}</td> {% endfor %} </tr>
		<tr> <td> Price 11 </td> {% for seller in sellers %} <td> {{ seller.seller_price10 }}</td> {% endfor %} </tr>
		<tr> <td> Price 12 </td> {% for seller in sellers %} <td> {{ seller.seller_price11 }}</td> {% endfor %} </tr>
		<tr> <td> Price 13 </td> {% for seller in sellers %} <td> {{ seller.seller_price12 }}</td> {% endfor %} </tr>
		<tr> <td> Price 14 </td> {% for seller in sellers %} <td> {{ seller.seller_price13 }}</td> {% endfor %} </tr>
		<tr> <td> Price 15 </td> {% for seller in sellers %} <td> {{ seller.seller_price14 }}</td> {% endfor %} </tr>
		<tr> <td> Price 16 </td> {% for seller in sellers %} <td> {{ seller.seller_price15 }}</td> {% endfor %} </tr>
		<tr> <td> <strong> Total Price </td> {% for seller in sellers %} <td> {{ seller.seller_total_price }}</td> {% endfor %} </tr>
	</table>
	{% endif %} 
    
<p>{% next_button %}</p>


{% endblock %}
