{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Select Seller
{% endblock %}

{% block content %}
        
    {% if num_prices == 1 %}
    {% for i, seller in sellers %}
    <table height = 50% width = 50%>
    	<tr> 
    		<td> </td> {% for seller in sellers %} <th>  Seller {{ seller.identifier }} </th> {% endfor %}
    	</tr>
    	<tr> <td> Price </td> {% for seller in sellers %} <td> {{ seller.seller_price0 }}</td> {% endfor %} </tr>
	</table>
	{% endfor %}
    {% elif num_prices == 8 %}
    <table height = 50% width = 50%>
    	<tr> 
    		<td> </td> {% for seller in sellers %} <th>  Seller {{ seller.identifier }} </th> {% endfor %}
    	</tr>
    	<tr> <td> Price 1 </td> {% for seller in sellers %} <td> {{ seller.seller_price0 }}</td> {% endfor %} </tr>
		<tr> <td> Price 2 </td> {% for seller in sellers %} <td> {{ seller.seller_price1 }}</td> {% endfor %} </tr>
		<tr> <td> Price 3 </td> {% for seller in sellers %} <td> {{ seller.seller_price2 }}</td> {% endfor %} </tr>
		<tr> <td> Price 4 </td> {% for seller in sellers %} <td> {{ seller.seller_price3 }}</td> {% endfor %} </tr>
		<tr> <td> Price 5 </td> {% for seller in sellers %} <td> {{ seller.seller_price4 }}</td> {% endfor %} </tr>
		<tr> <td> Price 6 </td> {% for seller in sellers %} <td> {{ seller.seller_price5 }}</td> {% endfor %} </tr>
		<tr> <td> Price 7 </td> {% for seller in sellers %} <td> {{ seller.seller_price6 }}</td> {% endfor %} </tr>
		<tr> <td> Price 8 </td> {% for seller in sellers %} <td> {{ seller.seller_price7 }}</td> {% endfor %} </tr>
	</table>
    {% else %}
    <table height = 50% width = 50%>
    	<tr> 
    		<td> </td> {% for seller in sellers %} <th>  Seller {{ seller.identifier }} </th> {% endfor %}
    	</tr>
    	<tr> <td> Price 1 </td> {% for seller in sellers %} <td> {{ seller.seller_price0 }}</td> {% endfor %} </tr>
		<tr> <td> Price 2 </td> {% for seller in sellers %} <td> {{ seller.seller_price1 }}</td> {% endfor %} </tr>
		<tr> <td> Price 3 </td> {% for seller in sellers %} <td> {{ seller.seller_price2 }}</td> {% endfor %} </tr>
		<tr> <td> Price 4 </td> {% for seller in sellers %} <td> {{ seller.seller_price3 }}</td> {% endfor %} </tr>
		<tr> <td> Price 5 </td> {% for seller in sellers %} <td> {{ seller.seller_price4 }}</td> {% endfor %} </tr>
		<tr> <td> Price 6 </td> {% for seller in sellers %} <td> {{ seller.seller_price5 }}</td> {% endfor %} </tr>
		<tr> <td> Price 7 </td> {% for seller in sellers %} <td> {{ seller.seller_price6 }}</td> {% endfor %} </tr>
		<tr> <td> Price 8 </td> {% for seller in sellers %} <td> {{ seller.seller_price7 }}</td> {% endfor %} </tr>
		<tr> <td> Price 8 </td> {% for seller in sellers %} <td> {{ seller.seller_price8 }}</td> {% endfor %} </tr>
		<tr> <td> Price 8 </td> {% for seller in sellers %} <td> {{ seller.seller_price9 }}</td> {% endfor %} </tr>
		<tr> <td> Price 8 </td> {% for seller in sellers %} <td> {{ seller.seller_price10 }}</td> {% endfor %} </tr>
		<tr> <td> Price 8 </td> {% for seller in sellers %} <td> {{ seller.seller_price11 }}</td> {% endfor %} </tr>
		<tr> <td> Price 8 </td> {% for seller in sellers %} <td> {{ seller.seller_price12 }}</td> {% endfor %} </tr>
		<tr> <td> Price 8 </td> {% for seller in sellers %} <td> {{ seller.seller_price13 }}</td> {% endfor %} </tr>
		<tr> <td> Price 8 </td> {% for seller in sellers %} <td> {{ seller.seller_price14 }}</td> {% endfor %} </tr>
		<tr> <td> Price 8 </td> {% for seller in sellers %} <td> {{ seller.seller_price15 }}</td> {% endfor %} </tr>
	</table>
	{% endif %} 

{% formfield player.buyer_choice with label="Which seller do you select" %}
    
<p><button class="a-btn">Next</button></p>

    {% include instructions %}

{% endblock %}
