{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Duopoly Data
{% endblock %}

{% block content %}

{% include "duopoly_rep_treat/AdminReport.html" %}

<!--<table><tbody>-->

<!--<tr>-->
    <!--<td>-->
        <!--<h3>Ask Data</h3>-->
    <!--</td>-->
    <!--<td>-->
        <!--<a class="a-btn" href="{% url 'ask_data_download' %}">download</a>-->
        <!--<a class="a-btn" href="{% url 'ask_data_view' %}">view</a>-->
    <!--</td>-->
<!--</tr>-->
<!--<tr>-->
    <!--<td>-->
        <!--<h5>Contract Data</h5>-->
    <!--</td>-->
    <!--<td>-->
        <!--<a class="a-btn" href="{% url 'contract_data_download' %}">download</a>-->
        <!--<a class="a-btn" href="{% url 'contract_data_view' %}">view</a>-->
    <!--</td>-->
<!--</tr>-->

<!--<tr>-->
    <!--<td>-->
        <!--<h5>Market Data</h5>-->
    <!--</td>-->
    <!--<td>-->
        <!--<a class="a-btn" href="{% url 'market_data_download' %}">download</a>-->
        <!--<a class="a-btn" href="{% url 'market_data_view' %}">view</a>-->
    <!--</td>-->
<!--</tr>-->
<!--<tr>-->
     <!--<td>-->
        <!--<h5>Survey Data</h5>-->
    <!--</td>-->
    <!--<td>-->
        <!--<a class="a-btn" href="{% url 'survey_data_download' %}">download</a>-->
        <!--<a class="a-btn" href="{% url 'survey_data_view' %}">view</a>-->
    <!--</td>-->
<!--</tr>-->
<!--<tr>-->
     <!--<td>-->
        <!--<h3>Combined Data</h3>-->
    <!--</td>-->
    <!--<td>-->
        <!--<a class="a-btn" href="{% url 'combined_data_download' %}">download</a>-->
        <!--<a class="a-btn" href="{% url 'combined_data_view' %}">view</a>-->
    <!--</td>-->
<!--</tr>-->
<!--<tr><td><hr /></td></tr>-->
<!--<tr>-->
    <!--<td>-->
        <!--<h3>Response Times</h3>-->
    <!--</td>-->
    <!--<td>-->
        <!--<a class="a-btn" href="{% url 'ExportTimeSpent' %}">download</a>-->
    <!--</td>-->

<!--</tr>-->
<!--<tr>-->
     <!--<td>-->
        <!--<h3>Payments</h3>-->
    <!--</td>-->
    <!--<td>-->
        <!--<a class="a-btn" href="{% url 'SessionPayments' session_code %}">view latest session</a>-->
    <!--</td>-->
<!--</tr>-->

<!--</tbody></table>-->
{% endblock %}
