{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    {% if subsession.round_number <= Constants.num_rounds_practice %}
        Practice Match
    {% else %}
        Match {{ round }} of {{ Constants.num_rounds_treatment }}
    {% endif %}
{% endblock %}

{% block content %}

    <h4>Buyer Choice</h4>
    <p>
        You are buyer number {{ player.rolenum }}
    </p>

    {% include "duopoly_rep_treat/parts/buyerChoicePart.html" %}






    {% next_button %}

{% endblock %}