{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    {% if subsession.practiceround %}
        Practice Round
    {% else %}
        Round {{ round }} of {{ Constants.num_rounds_treatment }}
    {% endif %}
{% endblock %}

{% block content %}

    <div class="col_container">
        <div class="col">
            <section>
            <p>
                You are buyer {{ player.rolenum }}. Please choose a seller to purchase an object from.
            </p>
            <p>As a reminder:</p>
            <ul>
                <li>You will pay the {{ subsession.dims | pluralize:"price, sum of the sub-prices" }}.</li>
                <li>You will exchange the object you buy for 800 tokens.</li>
            </ul>
            <p>Press "Next" to submit your seller choice.</p>
            </section>
            <nav 
                {% if subsession.dims > 12 %} style="position:absolute; bottom:18px; right:50px;" {% endif %}
            >
                <button class="a-btn next">Next</button>
                <input type="submit"></input>
            </nav>
        </div>
        <div class="col">
            {% include "duopoly_rep_treat/parts/buyerChoicePart.html" %}
        </div>
    </div>

{% endblock %}
{% block app_styles %}
   <link href="{% static "duopoly_rep_treat/buyer.css" %}" rel="stylesheet">
{% endblock %}