{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    {% if subsession.practiceround %}
        Practice Round
    {% else %}
        Round {{ round }} of {{ Constants.num_rounds_treatment }}
    {% endif %}
{% endblock %}

{% block content %}

    <div class="col_container">
        <div class="col">
            <p>You are seller {{ player.rolenum }}. Please choose your {{ subsession.dims | pluralize:"price,sub-prices" }}.</p>
            <p>As a reminder:</p>
            <ul>
                <li>{{ subsession.dims | pluralize:"Prices,Sub-prices" }} must be whole numbers (no decimals).</li>
                <li>{{ subsession.dims | pluralize:"Prices,Sub-prices" }} cannot be negative.</li>
                <li>{{ subsession.dims | pluralize:"Prices,The total price (sum of sub-prices)" }} cannot exceed 800 tokens.</li>
                <li>Your production cost is {{ Constants.prodcost }} tokens per object.</li>

                {% if subsession.dims > 1 %}
                    <li>You must enter values for all sub-prices.</li>
                    <li>Choose a "Total price" and press "Distribute" to choose random sub-prices that sum to "Total price".</li>
                    <li>You can press "Distribute" as many times as you like.</li>
                {% endif %}




                    <li>You can edit individual sub-prices even if you already pressed the distribute button.</li>
                </ul>
            <p>Press "Next" to submit your prices.</p>
           
        </div>
        <div class="col">
            {% include "duopoly_rep_treat/parts/sellerChoicePart.html" with example="False" %}
        </div>
        
    </div>
     <nav>
        <button class="a-btn next">Next</button>
        <input type="submit"></input>
    </nav>
    


{% endblock %}
{% block app_styles %}
   <link href="{% static "duopoly_rep_treat/seller.css" %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'duopoly_rep_treat/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'duopoly_rep_treat/seller.js' %}"></script>
{% endblock %}
