{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    {% if subsession.practiceround %}
        Practice Round
    {% else %}
        Round {{ round }} of {{ Constants.num_rounds_treatment }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if Constants.show_buyer_timer %}
        <input id="timer" type="text" disabled="disabled"
            value="{{ Constants.buyer_timer }}">
        </input>
    {% endif %}
    <div class="col_container">
        <div class="col realround_instructions">
            <p>
                You are Buyer {{ player.rolenum }}. 
            </p>
            <p>
            Please choose a seller to purchase from.
            </p>
            <p>As a reminder:</p>
            <ul>
                <li>You will pay the {{ subsession.dims | pluralize:"price, sum of the sub-prices" }}.</li>
                <li>You will exchange the object you buy for 800 tokens.</li>
            </ul>
            <p>Press "Next" to submit your choice.</p>            
        </div>
        <div class="col">
            {% include "duopoly_rep_treat/parts/buyerChoicePart.html" %}
        </div>
    </div>
    <nav 
    >
        <button class="a-btn next">Next</button>
        <input type="submit"></input>
    </nav>

{% endblock %}
{% block app_styles %}
   <link href="{% static "duopoly_rep_treat/buyer.css" %}" rel="stylesheet">
{% endblock %}