{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<table>
    <thead><tr>
        {% for header in headers %}
        <th>
            {{ header }}
        </th>
        {% endfor %}
    </tr></thead>
    <tbody>
        {% for row in body %}
            <tr>
                {% for datum in row %}
                    <td>
                        {{ datum }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block styles %}
    <style typ="text/css">
        .container{
            margin:0;
        }
        .page-header{
            padding:0;
            margin:0;
        }
        table{
            margin-right: 40px;
            float: left;
            position: relative;
        }
        th, td{
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 4px 5px;
            text-align: right;
            vertical-align: center;
        }
        th:last-child, td:last-child{
            border-right: none;

        }
        tr:nth-child(even){
            background-color: lightgoldenrodyellow;
        }
    </style>
{% endblock %}