{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% block title %}
    Experiment Basics
{% endblock %}
{% block content %}

<h3>In this experiment, you will make choices over a sequence of <b>{{ total_rounds }}</b> matches.</h3>
<p>In each match, you will be randomly matched with other participants. You will make decisions and receive a payoff that will depend on your decisions and on the decisions of the other participants in your group in that match.
    </p>
    <p>At the end of the experiment, you will be paid the sum of what you earned in all matches, plus the show-up fee of <b>{{ showup }}</b>. Everyone will be paid in private and you are under no obligation to tell others how much you earned. Your earnings during the experiment are denominated in tokens. At the end of the experiment you will be paid $1.00 for every <b>{{ tokens_per_dollar }}</b> tokens you earned.
    </p>
    <p>In addition to starting the experiment with your show-up payment, you will begin the experiment with <b>{{ Constants.starting_tokens }}</b> tokens.</p>

    <!--<p> The amount you earn during this experiment will depend on the choices that you make, the choices of others, and luck.  Throughout the experiment you will earn tokens.  Each token is worth {{ cents_per_token }} cents.  </p>-->

    <!--<p> All players will start with {{ starting_tokens }} tokens. </p>-->

    <!--<p> At the end of the experiment, your total payment will be made in cash rounded up to the nearest quarter.  You will be paid in private and will have no obligation to discuss your earnings with other participants.  <p>-->

<p><button class="a-btn next">Next</button></p>

{% endblock %}
