{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% block title %}
    New Game Instructions
{% endblock %}
{% block content %}
    <!-- This page only visited in second treatment and after -->
    <p>
        We will now play a game similar to the game you just played but with one important difference.
    </p>
    {% if subsession.dims == 1 %}
        <p>
            In this game, objects have no sub-prices.  That is, sellers will set a single price and buyers will pay sellers a single price.
        </p>
    {% elif subsession.treatment_first_multiple %}
        <p>
            In this game the price of an object is made up of “sub-prices”. A sub-price is a part of the total price.  Sellers will choose values for each sub-price and buyers will pay sellers the sum of all the sub-prices.
        </p>
        <p>
            Buyers will not see the total price &mdash; instead, buyers will only see the sub-prices before they make their choices.
        </p>
        <p>
            In this game, each object has {{ subsession.dims }} sub-prices.
        </p>
        <p>
            To make clear how this works, we will explain both roles in detail.
        </p>
    {% else %}
        <p>
            In this game, each object has {{ subsession.dims }} sub-prices.
        </p>
        <p>
            As before, sellers will choose values for all sub-prices, and buyers will pay sellers the sum of all the sub-prices.
        </p>

    {% endif %}




    <nav>
        <input type="button" class="a-btn next" value="Next"></input>
        <input type="submit"></input>
    </nav>

{% endblock %}
