{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Round {{ subsession.round_number }} of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}

    <h4>Instructions</h4>
    <p>
        This is a duopoly game.
        Two players are buyers and two players are sellers

    </p>
    <li><b>block:</b> {{ subsession.block }}</li>
    <li><b>treatment:</b> {{ subsession.treatment }}</li>
    <li><b>round:</b> {{ subsession.round_number }}</li>
    <li><b>practice:</b> {{subsession.practiceround }}</li>
    <li>In this game there are <b>{{ subsession.dims }}</b> dimensions </li>

    <button class="a-btn">Next</button>

{% endblock %}
