{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Game Basics
{% endblock %}
{% block content %}

<section>
    <p>
        This is an experiment studying behavior in a simple game.
        In this game you will play the role of either a “buyer” or a “seller”.
    </p>
</section>
<section>
    <p>
        If you are a seller, you will earn tokens by producing objects and selling them to buyers.
    </p>
    <p>
        If you are a buyer, you will earn tokens by buying an object from a seller and then giving it to the experimenter in exchange for tokens.
    </p>
</section>
<section>
    <p>
        You will play this game many times. Each time you play the game, we call this a “round”.
    </p>
    <p>
        Each round, you will be grouped with three other participants.  Two of you will be sellers.  The other two will be buyers.
    </p>
    <p>
        Who is in your group and what role you play are determined randomly by the computer at the start of each round.
    </p>
</section>
<section>
    <p>
        Each round works like this:
    </p>
    <ol>
        <li>
            The computer randomly groups participants into groups of four.
        </li>
        <li>
            The computer randomly assigns two buyer roles and two seller roles in each group.
        </li>
        <li>
            Sellers set the prices of their objects.
        </li>
        <li>
            Buyers see the prices of the sellers in their group.
        </li>
        <li>
            Each buyer chooses a seller to buy from and pays the seller's price in tokens.
        </li>
        <li>
            Each seller produces the number of objects that they sold (between 0 and 2), and gives one to each of their buyers.
        </li>
        <li>
            Each buyer gives the object they bought to the experimenter in exchange for tokens.
        </li>
    </ol>
</section>
    <!--<h3>This is an experiment studying buyer and seller behavior in a simple market.</h3>-->
    <!--<p>In each match, the computer will randomly match you into a groups of {{ Constants.players_per_group }} participants.  Since there are {{ Constants.num_players }} participants in todays experiment, this will result in {{ num_groups }} groups.  You are not told the identity of the other participants in your group.</p>-->

    <!--<p>Next, the computer randomly assigns a role to each member of the group: {{ Constants.sellers_per_group }} members will be “sellers” and {{ Constants.buyers_per_group }} members will be “buyers”.</p>-->

    <!--<p>Sellers act first.  Whenever you act as a seller, you can produce and sell objects to buyers.  You will choose the prices for these objects.</p>-->

    <!--<p>Buyers act second. Whevever you act as a buyer, you will see the prices the two sellers set, and then choose which seller you wish to purchase from.  You will pay the seller you choose the price that the seller set.</p>-->
    

<nav>
    <input type="button" class="a-btn next" value="Next"></input>
    <input type="button" class="a-btn prev" value="Previous" disabled="disabled"></input>
    <input type="submit"></input>
</nav>


{% endblock %}
