{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% block title %}
    Experiment Basics
{% endblock %}
{% block content %}

    <section>
        <p>Thank you for participating in this experiment.</p>

        <p>
            During the experiment, we require your complete attention. Please do not speak to other participants or engage in other distracting activities such as using your cell phone.  Please do not use the computer except as instructed.
            <!--, so we ask that you follow these instructions carefully. Please do not use the computer except as specifically instructed, and do not chat with other students or engage in activities such as using your cell phone or headphones or reading books.-->
        </p>

        <p>
            You will be paid in cash at the end of the experiment, and the amount you earn depends on your choices during the experiment. It is therefore important that you follow along carefully and fully understand the instructions.
            <!--For your participation, you will be paid in cash at the end of the experiment. Different participants may earn different amounts, and what you earn depends partly on your decisions, partly on the decisions of others, and partly on chance. It is therefore important that you follow the instructions carefully and fully understand the instructions before the experiment begins.-->
        </p>
    </section>

    <section>
        <p>
            The experiment will be conducted through the lab computers. All interactions between you and other participants will therefore take place through the computers.  Please do not try to speak to other participants or to look at their screens.
        </p>
        <p>
            If you have a question at any time, please raise your hand and someone will come to your computer to assist you.
        </p>
    </section>
    <section>
        <p>
            As advertised, you will be given {{ showup }} today regardless of your performance in the experiment.
        </p>
        <p>
            In addition, in the experiment you will earn "tokens".  For every {{ tokens_per_dollar }} tokens you earn, you will be paid $1.00 in cash.  You will be paid in private at the end of the experiment.
        </p>
        <p>
            To start the experiment, you have 800 tokens.
            <!--At the end of the experiment, you will be paid what you earned in all matches, plus the show-up fee of <b>{{ showup }}</b>. Everyone will be paid in private and you are under no obligation to tell others how much you earned. Your earnings during the experiment are denominated in tokens. At the end of the experiment you will be paid $1.00 for every <b>{{ tokens_per_dollar }}</b> tokens you earned.-->
        </p>
    </section>
    <section>
        <p>
            Throughout these instructions, we will ask you questions about what you read.  These are simply meant to ensure that you understand the instructions, and your responses will not affect the rest of the experiment or the amount you will earn.  Here comes a question now...
        </p>
    </section>
<nav>
    <input type="button" class="a-btn next" value="Next"></input>
    <input type="button" class="a-btn prev" value="Previous" disabled="disabled"></input>
    <input type="submit"></input>
</nav>

{% endblock %}
