{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Wait Game Example
{% endblock %}

{% block content %}
    <div class="col_container">
        <div class="col" style="width:55%">
            <p>During the game you may have to wait for other players.</p>
            <p>While you wait you may see a word search game like the example game to the right.</p>
            <p>This game is for your entertainment.  It is not part of the experiment and you are not required to play.</p>
            <p>The word search game does not affect any other aspect of the experiment. The word search game will not affect your earnings.</p>

        </div>
        <div class="col" style="width:45%;margin-top:16px;">
            <img src="{% static 'duopoly_rep_treat/img/wordsearch_example.png' %}"></img>
        </div>
    </div>
<nav>
    <button class="a-btn next">Next</button>
    <input type="submit"></input>
</nav>


{% endblock %}