{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}
{% block content %}

    <h3>This concludes the description of a match.</h3>
    <p>All participants in each match play the same game with the same parameters (for example, all buyers receive {{ Constants.consbenefit }} tokens for the object they buy, and all sellers have a production cost of {{ Constants.prodcost }} tokens per object).</p>

    <p>At the end of each match, groups are randomly reshuffled and roles are randomly re-assigned.  Each match proceeds in exactly the same way.</p>

    <p>There {{ Constants.num_rounds_practice|pluralize:"is,are" }} {{ Constants.num_rounds_practice }} practice match{{ Constants.num_rounds_practice|pluralize:"es" }} and {{ Constants.num_rounds_treatment }} paid match{{ Constants.num_rounds_treatment|pluralize:"es" }} in this part of the experiment. There are additional parts of the experiment that are nearly identical to the part just described. The differences will be explained when you come to those parts of the experiment.</p>

    <p>
        If you have any questions at this time, please raise your hand now.
    </p>

    <button class="a-btn next">Next</button>

{% endblock %}