{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Buyer Instructions
{% endblock %}

{% block content %}
    <div class="col_container">
        <div class="col">
            <section>
                <p>
                    Buyers earn tokens by buying objects from sellers and then exchanging them for tokens.
                </p><p>
                    When you are a buyer, your only task is to choose the seller you want to buy from.
                </p>
                {% if subsession.dims == 1 %}
                    <p>
                        After a buyer chooses a seller, the buyer pays the seller the seller's price.
                    </p>
                {% endif %}
                <p>
                    To the right is an example buyer interface. Feel free to experiment with choosing a seller there.
                </p>

            </section>
            {% if subsession.dims > 1 %}
                <section>
                    <p>
                        As you can see, buyers do not see the sellers’ total prices, but they do see their sub-prices.
                    </p>
                    <p>
                        After a buyer chooses a seller, the buyer pays the seller the sum of the seller’s sub-prices (the total price).
                    </p>
                </section>
            {% endif %}
            <section>
                <p>
                    After the buyer buys an object, the buyer will automatically exchange the object with the experimenter for 800 tokens.
                </p><p>
                    Other than the price, it does not matter which seller the buyers buy from – they will always get 800 tokens at the end of the round.
                </p><p>
                    Before continuing, please choose a seller in the example interface to the right.
                </p>
            </section>


            <nav>
                <input type="button" class="a-btn next" value="Next"></input>
                <input type="button" class="a-btn prev" value="Previous" disabled="disabled"></input>
                <input type="submit"></input>
            </nav>
        </div>
        <div class="col">
            {% include "duopoly_rep_treat/parts/buyerChoicePart.html" %}
        </div>
    </div>


{% endblock %}
{% block app_styles %}
   <link href="{% static "duopoly_rep_treat/buyer.css" %}" rel="stylesheet">
{% endblock %}
