{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block content %}

    <p> First, let's review what will happen.  In this game, you and the other participants will be assigned to one of two roles: a buyer or seller.  All roles will be reassigned each round. </p>

    <p> Every time you play as a seller, you will be trying to sell an object which buyers can redeem at the end of a round for {{redeem_value}} tokens.  You will choose prices for the object.  You will earn more tokens when you sell more objects at a higher price. </p>

    <p> Every time you play as a buyer, you will choose which seller's object you want to buy.  You will earn more tokens when you buy an object at a lower price.  <p>
    

<p>{% next_button %}</p>


{% endblock %}
