{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% block title %}
    Setup
{% endblock %}
{% block content %}

    <p>Thank you for participating in this experiment. During the experiment we require your complete, un-distracted attention, so we ask that you follow these instructions carefully. Please do not use the computer except as specifically instructed, and do not chat with other students or engage in activities such as using your cell phone or headphones or reading books. </p>

    <p>For your participation, you will be paid in cash at the end of the experiment. Different participants may earn different amounts, and what you earn depends partly on your decisions, partly on the decisions of others, and partly on chance. It is therefore important that you follow the instructions carefully and fully understand the instructions before the experiment begins.</p>

    <p>The entire experiment will take place through computer terminals, and all interaction between participants will take place through the computers. It is important that you not talk or in any way try to communicate with other participants during the experiment except according to the rules described in the instructions.</p>

    <p>If you have a question at any time during these instructions or during the experiment, please raise your hand and someone will come to your computer terminal to assist you.</p>

    <!--<p> Welcome to your research study. </p>&ndash;&gt;

    &lt;!&ndash;<p> In this study you will be playing {% if num_rounds < 2 %} {{ num_rounds }} round {% else %} {{num_rounds}} rounds {% endif %} of a game.  Each round, you and the other participants will be assigned one of two roles: a buyer or a seller.  You will be randomly reassigned to being a buyer or seller each round.  </p>&ndash;&gt;

    &lt;!&ndash;<p> <b> Sellers will decide on prices for an object they are trying to sell, keeping in mind you are competing with another seller for each buyer's selection. </b> <p>&ndash;&gt;

    &lt;!&ndash;<p> <b> Buyers will decide which of the two seller's object they want to buy. </b> </p>&ndash;&gt;

    &lt;!&ndash;<p> The game is divided into {{ num_games }} parts.  There are different rules for each part.  We will provide more instructions about each of the parts as we reach them. </p>-->
    

<p>{% next_button %}</p>

{% endblock %}
