{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}
{% block content %}

    <p>This is an experiment studying buyer and seller behavior in a simple market.</p>
    <p>In each match, the computer will randomly match you into a groups of {{ Constants.players_per_group }} participants.  Since there are {{ Constants.num_players }} participants in todays experiment, this will result in {{ num_groups }} groups.  You are not told the identity of the other participants in your group.</p>

    <p>Next, the computer randomly assigns a role to each member of the group: {{ Constants.sellers_per_group }} members will be “sellers” and {{ Constants.buyers_per_group }} members will be “buyers”.</p>

    <p>Sellers act first.  Whenever you act as a seller, you will start the match with objects that have no value to you.  You will choose the price for these object, and can sell them to buyers in exchange for the price you set.</p>

    <p>Whevever you act as a buyer, you will see the prices the two sellers set for their objects, and then choose which seller you wish to purchase an object from.  You will pay the seller you choose the price that the seller set for their object.  The objects sold by the two sellers are identical.  The only difference is between the prices set by the sellers.  No matter which seller you choose, you will exchange your object for {{ Constants.consbenefit }} tokens at the end of the match.</p>

    <!--<p> First, let's review what will happen.  In this game, you and the other participants will be assigned to one of two roles: a buyer or seller.  All roles will be reassigned each round. </p>-->

    <!--<p> Every time you play as a seller, you will be trying to sell an object which buyers can redeem at the end of a round for {{redeem_value}} tokens.  You will choose prices for the object.  You will earn more tokens when you sell more objects at a higher price. </p>-->

    <!--<p> Every time you play as a buyer, you will choose which seller's object you want to buy.  You will earn more tokens when you buy an object at a lower price.  <p>-->
    

<p>{% next_button %}</p>


{% endblock %}
