{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% block title %}
    Welcome to the Experiment!
{% endblock %}
{% block content %}

    <p>The Experiment will begin soon.</p>

    <p>Please sit quietly until the experiment begins.</p>

    <p>Please do not use the computer until instructed to do so.</p>

    {% if session.config.experimenter_present == False %}
        <nav>
            <button class="a-btn next">Next</button>
            <input type="submit"></input>
        </nav>
    {% endif %}


{% endblock %}
