{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Paid Matches
{% endblock %}

{% block content %}
	<p>
        If you have any questions before we continue to the paid matches, please raise your hand now and someone will come assist you.
    </p>
    <p>
        We will now continue to the paid matches. If you have any questions during the paid matches, please raise your hand and someone will assist you in private.
	</p>

<p><button class="a-btn">Next</button></p>


{% endblock %}
