{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Practice Rounds
{% endblock %}

{% block content %}
	<p>We will now go through {{ Constants.num_rounds_practice }} practice rounds.</p>
    <p>
		 You are not paid for your performance in these rounds; they are simply meant to familiarize you with the game before you begin the paid rounds.
    </p>

    <p>
    You will play the {{ player.roledesc }} role this
    {% if Constants.num_rounds_practice > 1 %}
         round and the {{ otherrole }} role next round.
    {% else %}
        round.
    {% endif %}
    </p>
    <nav>
        <button class="a-btn next">Next</button>
        <input type="submit"></input>
    </nav>


{% endblock %}
