{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Paid Matches
{% endblock %}

{% block content %}
	<h3>We will now begin the paid matches.</h3>
    <p>
        If you have any questions at this time, please raise your hand now.
    </p>
<p>You will play <b>{{ Constants.num_rounds_treatment }} match{{Constants.num_rounds_treatment|pluralize:"es"}}</b> of this game.  After these matches, you will receive additional instructions.</p>
    <p>
        If you have any questions during the paid matches, please raise your hand and someone will assist you in private.
	</p>

    <p><button class="a-btn next">Next</button></p>


{% endblock %}
