{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %} Round Summary Example {% endblock %}

{% block content %}

<p>You were <b>{{ player.roledesc }} {{ player.rolenum }}</b>.</p>
<p>You made <b>{{ player.payoff }}</b>tokens.</p>

<h3>Your Payout Calculation</h3>
<p>additional text here</p>

<h3>Sellers' Prices</h3>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Seller 1</th><th>Seller 2</th>
        </tr>
    </thead>
    <tbody>
      <p>setting up example prices here</p>
    <tr>
        <td>Total</td>
        <td align="center">
            400
        </td>
        <td align="center">
            300
        </td>
    </tr>
</tbody></table>

<h3>Buyers' Choices</h3>
<table>
    <thead><tr>
        <th></th><th>Seller 1</th><th>Seller 2</th>
    </tr></thead>
    <tbody>
        <tr>
            <td>Buyer 1</td>
            <td align="center">	</td>
            <td align="center"> X  </td>
        </tr>
        <tr>
            <td>Buyer 2</td>
            <td align="center">  X </td>
            <td align="center">	</td>
        </tr>
    </tbody>
</table>

<button class="a-btn">Next</button>

{% endblock %}
