{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Seller Instructions
{% endblock %}

{% block content %}

    <div class="col_container">
        <div class="col" >
            <p>Sellers much choose a price greater than or equal to 0 for each of the {{ subsession.dims }} price{{ subsession.dims |pluralize }}.  The sum of all the prices must also be less than or equal to {{ Constants.maxprice }}.</p>
            <p>An example of how you set prices as a seller is shown in the table to the right. You can set prices in one of three ways:</p>
            <ol>
                <li>Enter the amount you want your prices to sum to in the "Sum of prices" box.  Then press the "Distribute" button to choose random prices that add up to your sum.
                </li>
                <li>Enter a price for each of the individual prices, one-by-one.</li>
                <li>Start by entering a sum into the "sum of prices" box, press distribute, and then change any of the individual prices as you like.  The "sum of prices" box will automatically update.</li>
            </ol>
            <p>Remember, when you set prices in the real game, <i>buyers will not see the sum of the prices</i>.  They will only the {{ subsession.dims }} price{{ subsession.dims |pluralize }} themselves.</p>
            <p>Now please try to set some prices in the example to right.  When you are done, press the "Next" button to continue.</p>
            <button class="a-btn next">Next</button>
        </div>
        <div class="col" >
            {% include "duopoly_rep_treat/parts/sellerChoicePart.html" with example="True" %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'duopoly_rep_treat/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'duopoly_rep_treat/seller.js' %}"></script>

{% endblock %}
{% block app_styles %}
   <link href="{% static "duopoly_rep_treat/seller.css" %}" rel="stylesheet">
{% endblock %}