{% load staticfiles otree_tags %}

{% if subsession.dims > 1 %}
    <table>
        <thead>
            <tr>
                <th>Sub- Price</th>
                <th>Seller 1</th><th>Seller 2</th>
            </tr>
        </thead>
        <tbody>
        {% for i, s1_pd, s2_pd in prices %}
            <tr>
                <td>
                    <label>{{ i }}</label>
                </td>
                <td>
                    <span class="pricedim">
                        {{ s1_pd }}
                    </span>
                </td>
                <td>
                    <span class="pricedim">
                        {{ s2_pd }}
                    </span>
                </td>
            </tr>
        {% endfor %}
    </tbody></table>
{% else %}
    <table>
        <thead>
            <tr>
                <th></th><th>Seller 1</th><th>Seller 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Price
                </td>
                {% for i, s1, s2 in prices %}
                    <td>
                        <span class="pricedim">
                            {{ s1 }}
                        </span>
                    </td>
                    <td>
                        <span class="pricedim">
                            {{ s2 }}
                    </td>
                {% endfor %}
            </tr>
    </tbody></table>
{% endif %}
<div id="buyer-choice-radios" class="form-group required">
    <!--<label for="id_contract_seller_rolenum" class="control-label">Choose a Seller</label>-->
    <div class="controls field-contract_seller_rolenum">
        <label for="id_contract_seller_rolenum_1" class="u-w50pct"><input type="radio" required="" name="contract_seller_rolenum" value="1" id="id_contract_seller_rolenum_1">
            Choose Seller 1
        </label>
        <label for="id_contract_seller_rolenum_2" class="u-w50pct"><input type="radio" required="" name="contract_seller_rolenum" value="2" id="id_contract_seller_rolenum_2">
            Choose Seller 2
        </label>
    </div>
</div>