{% load staticfiles otree_tags %}



<div class="col_container">
    <div class="col">
        <h3>{{ player.roledesc }} {{ player.rolenum }}'s Earnings</h3>
        {% if player.roledesc == "Buyer" %}
        <table class="earnings"><tbody>
            <tr>
                <td>Benefit</td><td>{{ Constants.consbenefit }}</td>
            </tr><tr>
                <td>Cost</td><td>-{{ player.bid_total }}</td>
            </tr><tr class="total">
                <td>Total </td><td>{{ player.payoff }}</td>
            </tr>
        </tbody></table>
        {% else %}
        <table class="earnings"><tbody>
            <tr>
                <td>Benefit</td><td>{{ player.ask_total }}</td>
            </tr><tr>
                <td>Cost</td><td>-{{ Constants.prodcost }}</td>
            </tr><tr class="total">
                <td>Subtotal</td><td>{{ subtotal }} tokens</td>
            </tr><tr>
                <td># Sold</td><td> x {{ player.numsold }}</td>
            </tr><tr class="total">
                <td>Total</td><td>{{ player.payoff }}tokens</td>
            </tr>
        </tbody></table>
        {% endif %}
        <h3>Buyers' Choices</h3>
        <table>
            <thead><tr>
                <th></th><th>Seller 1</th><th>Seller 2</th>
            </tr></thead>
            <tbody>
                <tr>
                    <td>Buyer 1</td>
                    <td align="center">{% if b1_seller == 1 %}X{% endif %}</td>
                    <td align="center">{% if b1_seller == 2 %}X{% endif %}</td>
                </tr>
                <tr>
                    <td>Buyer 2</td>
                    <td align="center">{% if b2_seller == 1 %}X{% endif %}</td>
                    <td align="center">{% if b2_seller == 2 %}X{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">

        <h3>Sellers' Prices</h3>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Seller 1</th><th>Seller 2</th>
                </tr>
            </thead>
            <tbody>
            {% if subsession.dims > 1 %}
                {% for i, s1_pd, s2_pd in prices %}
                    <tr>
                        <td>
                            <label>{{ i }}</label>
                        </td>
                        <td>
                            <span class="pricedim">
                                {{ s1_pd }}
                            </span>
                        </td>
                        <td>
                            <span class="pricedim">
                                {{ s2_pd }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            <tr>
                {% if subsession.dims > 1 %}
                    <td>Total</td>
                {% else %}
                    <td>Price</td>
                {% endif %}
                <td>
                    {{ s1_ask_total }}
                </td>
                <td>
                    {{ s2_ask_total }}
                </td>
            </tr>
        </tbody></table>
    </div>
</div>

