{% load staticfiles otree_tags %}

<div class="seller_widget {% if example == "True" %}example {% endif %}">
    <input type="submit" style="display:none"></input>
    {% if subsession.treatment > 1 %}
        <div class="form-group required">
            <label for="id_ask_total" class="control-label">Total price:</label>
            <div class="controls  field-ask_total">
                <input type="number" class="form-control" id="id_ask_total" max="800" min="0" required name="ask_total"></input>
            </div>
        </div>

        <input type="button" value="Distribute" id="distribute"
               data-subsession-id="{{ subsession.id }}"
               data-group-id="{{ group.id }}"
               data-session-id="{{ session.id}}"
               data-player-id="{{ player.id_in_group }}"
               data-auto-url="{% url 'autopricedims' %}"
               data-manual-url="{% url 'manualpricedims' %}"
               data-example="{{ example }}"
        >
        </input>
        <table>
            <thead>
                <tr>
                    <th>
                        Sub- price
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for pd in price_dims %}
                <tr>
                    <td>
                        <!--<label for="dim_{{ pd.dimnum }}">{{ pd.dimnum }}</label>-->
                        <label for="dim_{{ pd }}">{{ pd}}</label>
                    </td>
                    <td>
                        <!--<input type="number" class="pricedim" value="" id="dim_{{ pd.dimnum}}" name="dim_{{ pd.dimnum }}"-->
                               <!--autocomplete="off" required min="0">-->
                        <input type="number" class="form-control pricedim" value="" id="dim_{{ pd }}" name="dim_{{ pd }}"
                               autocomplete="off" required min="0">
                        </input>
                    </td>
                </tr>
            {% endfor %}
        </tbody></table>

        <input type='hidden' id='id_ask_stdev' name='ask_stdev' value="" />
    {% else %}
        <div class="form-group required">
            <label for="id_ask_total" class="control-label">Price:</label>
            <div class="controls  field-ask_total">
                <input type="number" class="form-control" id="id_ask_total" max="800" min="0" required name="ask_total"></input>
            </div>
        </div>
        <input type='hidden' id='id_ask_stdev' name='ask_stdev' value="0" />
    {% endif %}
</div>
