/* LAYOUT */
.container{
    width: 800px;
}
#timer{
    position: absolute;
    top: -94px;
    right: 0;
    border: none;
    width: 152px;
    
}
#timer input{
    float: left;
    position: relative;
    background: white;
    font-size: 18px;
    font-weight: lighter;
    color: #333;
    width: 23px;
    line-height: 1.15;
    border: none;

}
#timer label{
    position: relative;
    float: left;
    color: #333;
    font-size: 16px;
    line-height: 1.25;
    margin-right: 4px;
}
#timer.timerFinished{
    color: red;
    font-weight: normal;
}
.page-header{
    border:none;
    margin: 40px 0 10px;
    padding: 10px 0 0;
}
.page-header h2{
    font-size: 2em;
    margin: 0;
}
#otree-content{
    padding: 0;
}
.well{
    /*delete to see debug stuff*/
    display: none;
}
section{
    position: relative;
    float: left;
    height: auto;
    display: none;
    min-height: 315px;

}
section.selected{
    display: block;
}
p{
    position: relative;
    float: left;
    font-size: 19px;
    line-height: 1.6;
    margin: 1em 0 .1em;
    clear: left;
}
.realround_instructions p{
    font-size: 17px;
    line-height: 1.45;
}
.realround_instructions li{
    font-size: 15px;
}

.col p:first-child{
    margin-top: 1.2em;
}
p.small{
    font-size: 16px;
    line-height: 1.45;
}
section ol{
    float: left;
    position: relative;
    margin-top: 10px;
}
p + ul{
    position: relative;
    float: left;
    margin-top: 15px;
    clear:both;
}
li{
    font-size: 17px;
}

/* NAV */
nav{
    position: relative;
    float: left;
    clear: both;
    padding: 33px 0 0;
    width: 100%;
}
nav button, nav input[type="button"], nav input[type="submit"]{
    position: relative;
    width: 152px;
    height: 40px;
}
nav .next{
    float: right;
}

nav .dots{
    margin: 10px auto 10px;;
    width: auto;
    height: 16px;
}
nav .dot{
    position: relative;
    float: left;
    height: 14px;
    width: 14px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 0 20px 0 0;
    background-color: white;
    box-shadow: 0 2px 3px #ccc;
    cursor: pointer;
}
nav .dot:last-child{
    margin:0;
}
nav .dot.selected{
    background-color: #0071bc;
    border-color: white;
    cursor: default;
}
nav .dot:hover{
    background-color: lightblue;
}
nav .dot.selected:hover{
    background-color: #0071bc;
}
nav input[type="submit"]{
    display:none;
}



/* OLD */
.box {
  width:100%;
  height:100%;
  background:#F5F5DC; /* biege color */
  margin:20px auto;
  padding: 10px 10px 10px 10px;
}

.rotate90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  float: left;
  margin-top: 1em; // TODO: do not hardcode to center align
}

.col_container {
    float:left;
    position: relative;
    background: white;
    width: 100%;
    display: flex;
}
.col{
    float:left;
    position: relative;
    padding: 0 0 0 2.5%
}
.col:first-child{
    padding: 0 2.5% 0 0;
}

table {
    float: left;
    position: relative;
    margin-bottom: 0;
}
label{
    font-weight: 400;
}
#otree-content > p, #otree-content > ul, #otree-content > h3{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}



a.btn-info:visited{
    color: white;
    border-color:#46b8da;
}

td h3, td h5{
    margin: 0;
}

/*CF over-rides*/
input.form-control[type="number"]{
    width: 100%;
}

/* Otree over-rides */
form{
    float: left;
    position: relative;
    width: 100%;

}
.well{
    float: left;
    position: relative;
    width: 100%;
    margin: 30px 0 0;
}



/*==================================================
 * Effect 7
 * ===============================================*/
.effect7
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

